<html>
<head>
    <style>
        table,th,td {
            border: 1px solid black;
        }
    </style>
</head>
<body>

        <table>
            <tr>
                <td>Task Name</td>
                <td>Task Due Date</td>
                <td>Task Description</td>
                
            </tr>
            <% for ( var i =0; i< tasks.length;i++){ %>
                <tr>
                    <td>
                        <%= tasks[i].taskName %>
                    </td>
                    <td>
                        <%= carDb[i].dueDate %>
                    </td>
                    <td>
                        <%= carDb[i].des %>
                    </td>
                </tr>
                <% }%>

</body>
</html>